:host {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
  height: 40px;
  padding: 6px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
